*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    background-position: center;
    height: 100vh;
}
hr{
    margin: 1rem auto 0.5rem;
    border: 0.5px solid #696969;
    display: inline-block;
    width: 40%;
}
.form span{
    display: inline-block;
    margin: 1rem 5px 0;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    color: #696969;
}
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: #D9D9D9;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 10px 45px 10px;
    text-align: center;
    border-radius: 45px;
}

.form-title{
    margin: 1rem auto 1.5rem;
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #696969;
}

.form input{
    font-family: 'League Spartan', sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    outline: 0;
    background: #1E2392;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active{
    background: #43a047;
}

.form .message{
    margin: 15px 0 1rem;
    color: #000000;
    font-size: 12px;
    font-family: 'League Spartan';
font-style: normal;
font-weight: 300;
}

.form .message a{
    color: #1E2392;
    text-decoration: none;

}

.form .register-form{
    display: none;
}